body {
  background-image: url("../images/lfz-background.jpg");
  height: 97vh;
}
.container{
  height: 100%;
}
.congrats {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100vh;
  width: 100%;
  background-color: pink;
  font-size: 10em;
  text-align: center;
}
.congrats > p {
  margin: 0;
}
button {
  border: 0;
  border-radius: 20px;
  font-size: 0.5em;
  background-color: violet;
  color: black;
}
button:hover{
  background-color: olive;
}
button:active{
  background-color: red;
}
.row {
  justify-content: center;
}
.container > :first-child {
  height: 20%;
}
.container > :last-child{
  height: 80%;
}
aside {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
}
aside > div {
  display: flex;
  height: 10%;
  background-color: skyblue;
  justify-content: center;
  align-items: center;
}
main {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  height: 100%;
}
main > div {
  height: 30%;
  background-image: url("../images/lfz-card.jpg");
  background-position: center;
  background-size: cover;
}
.card {
  position: relative;
}
.card-front, .card-back {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
}
.card-back{
  background-image: url("../images/lfz-card.jpg");
}
/* Card Fronts */
.js-logo {
  background-image: url("../images/js-logo.png");
}
.css-logo {
  background-image: url("../images/css-logo.png");
}
.html-logo {
  background-image: url("../images/html-logo.png");
}
.gitHub-logo {
  background-image: url("../images/gitHub-logo.png");
}
.docker-logo {
  background-image: url("../images/docker-logo.jpg");
}
.node-logo {
  background-image: url("../images/node-logo.png");
}
.mysql-logo {
  background-image: url("../images/mysql-logo.jpg");
}
.react-logo {
  background-image: url("../images/react-logo.png");
}
.php-logo {
  background-image: url("../images/php-logo.jpeg");
}
/* Adding hidden class for card interactivity */
.hidden {
  display: none;
}
