body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(27, 85, 80, 0.7)), url("../images/music.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}
.container{
  height: 100%;
}
.container > :first-child {
  height: 10%;
}
.container > :last-child{
  height: 75%;
}
.row {
  justify-content: center;
}
h1 {
  margin: 0;
}
aside {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}
aside > div {
  display: flex;
  height: 10%;
  width: 100%;
  background-color: rgb(43, 35, 68);
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 50%;
  border: 2px solid white;
  font-size: 1.5em;
}
main {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  height: 100%;
}
main > div {
  height: 30%;
  background-color: white;
  background-image: url("../images/bass.webp");
  background-position: center;
  background-size: cover;
}
/* Card Styles */
.card {
  position: relative;
  border-radius: 20%;
}
.card-front, .card-back {
  height: 100%;
  width: 100%;
  background-color: grey;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  border-radius: 10%;
  border: 2px solid orangered;
}
.card-back{
  background-image: url("../images/bass.webp");
  cursor: pointer;
  transition: 0.1s;
}
.card-back:hover {
  transform: scale(1.1);
}
.card-back:active {
  transform: scale(1.1) rotate(-5deg);
}
/* Card Fronts */
.pandora {
  background-image: url("../images/pandora.jpg");
}
.spotify {
  background-image: url("../images/spotify.png");
}
.amazon {
  background-image: url("../images/amazon.jpg");
}
.google {
  background-image: url("../images/google.png");
}
.itunes {
  background-image: url("../images/itunes.png");
}
.tidal {
  background-image: url("../images/tidal.jpg");
}
.iheart {
  background-image: url("../images/iheart.png");
}
.livexlive {
  background-image: url("../images/livexlive.png");
}
.deezer {
  background-image: url("../images/deezer.png");
}
/* Congratulations Message styles */
.congrats {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(22, 55, 126, 0.7), rgba(22, 55, 126, 0.7));
  text-align: center;
  font-size: 10em;
}
.congrats > h1 {
  margin: 0 auto;
  font-size: 0.5em;
  animation-duration: 5s;
  animation-name: bounce;
  animation-iteration-count: infinite;
}
.congrats > p {
  margin: 0;
  font-size: 0.2em;
}
@keyframes bounce {
  0% {
    font-size: 0.75em;
    margin-bottom: 75%;
  }
  75% {
    margin-bottom: 30%;
    font-size: 0.5em;
  }
  85% {
    margin-bottom: 100%;
  }
  100% {
    font-size: 0.75em;
    margin-bottom: 75%;
  }
}
/* Play Again Button */
button {
  border: 0;
  border-radius: 20px;
  background-image: linear-gradient(rgba(105, 22, 126, 0.7), rgba(105, 22, 126, 0.7));
  color: black;
  font-size: 0.5em;
  transition: 0.5s;
  position: fixed;
  animation-name: sliding;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
button:hover{
  background-color: olive;
  color: rgb(253, 255, 133);
  transform: scale(0.75);
  animation-play-state: paused;
}
button:active{
  background-color: red;
}
@keyframes sliding {
  0% {
    margin-left: 10%;
  }
  50% {
    margin-left: -10%;
  }
  100% {
    margin-left: 10%;
  }
}
/* Adding hidden class for card interactivity */
.hidden {
  display: none;
}
/* Media Queries */
@media only screen and (min-width: 2048px) {
  h1 {
    font-size: 5em;
  }
  .congrats {
    font-size: 20em;
  }
  aside > div {
    font-size: 3em;
  }
  .container {
    max-width: none;
  }
}
@media only screen and (max-width: 1024px) and (orientation: landscape) {
  .congrats {
    font-size: 6em;
  }
  aside > div {
    font-size: 1em;
  }
}
@media only screen and (max-width: 1024px) and (orientation: portrait) {
  .col-3-medium {
    width: 24%;
  }
  main > div {
    height: 18%;
  }
  .congrats {
    font-size: 6em;
  }
  aside > div {
    font-size: 1em;
  }
}
@media only screen and (max-width: 600px) {
  .col-4-small {
    width: 32%;
  }
  main > div {
    height: 15%;
  }
  .congrats {
    font-size: 4em;
  }
  aside > div {
    font-size: 0.75em;
  }
}
