body {
  background-image: url("../images/lfz-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 97vh;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}
.container{
  height: 100%;
}
.container > :first-child {
  height: 10%;
}
.container > :last-child{
  height: 75%;
}
.row {
  justify-content: center;
}
h1 {
  margin: 0;
}
aside {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}
aside > div {
  display: flex;
  height: 10%;
  width: 100%;
  background-color: rgb(43, 35, 68);
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 50%;
  font-size: 1.5em;
}
main {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  height: 100%;
}
main > div {
  height: 30%;
  background-image: url("../images/lfz-card.jpg");
  background-position: center;
  background-size: cover;
}
/* Card Styles */
.card {
  position: relative;
  border-radius: 20%;
}
.card-front, .card-back {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  border-radius: 20%;
}
.card-back{
  background-image: url("../images/lfz-card.jpg");
  cursor: pointer;
  transition: 0.1s;
}
.card-back:hover {
  transform: scale(1.1) rotate(5deg);
}
.card-back:active {
  transform: scale(1.1) rotate(-5deg);
}
/* Card Fronts */
.js-logo {
  background-image: url("../images/js-logo.png");
}
.css-logo {
  background-image: url("../images/css-logo.png");
}
.html-logo {
  background-image: url("../images/html-logo.png");
}
.gitHub-logo {
  background-image: url("../images/gitHub-logo.png");
}
.docker-logo {
  background-image: url("../images/docker-logo.jpg");
}
.node-logo {
  background-image: url("../images/node-logo.png");
}
.mysql-logo {
  background-image: url("../images/mysql-logo.jpg");
}
.react-logo {
  background-image: url("../images/react-logo.png");
}
.php-logo {
  background-image: url("../images/php-logo.jpeg");
}
/* Congratulations Message styles */
.congrats {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(22, 55, 126, 0.7), rgba(22, 55, 126, 0.7));
  text-align: center;
  font-size: 10em;
}
.congrats > h1 {
  margin: 0 auto;
  font-size: 0.5em;
  animation-duration: 2s;
  animation-name: bounce;
  animation-iteration-count: infinite;
}
.congrats > p {
  margin: 0;
  font-size: 0.2em;
}
@keyframes bounce {
  0% {
    font-size: 0.75em;
    margin-bottom: 75%;
  }
  50% {
    margin-bottom: 30%;
    font-size: 0.5em;
  }
  75% {
    margin-bottom: 100%;
  }
  100% {
    font-size: 0.75em;
    margin-bottom: 75%;
  }
}
/* Play Again Button styles */
button {
  border: 0;
  border-radius: 20px;
  background-image: linear-gradient(rgba(105, 22, 126, 0.7), rgba(105, 22, 126, 0.7));
  color: black;
  font-size: 0.5em;
  transition: 0.5s;
  position: fixed;
}
button:hover{
  background-color: olive;
  color: rgb(253, 255, 133);
  transform: scale(0.75);
}
button:active{
  background-color: red;
}
/* Adding hidden class for card interactivity */
.hidden {
  display: none;
}
/* Media Queries */
@media only screen and (max-width: 1024px) and (orientation: landscape) {
  .congrats {
    font-size: 6em;
  }
  aside > div {
    font-size: 0.75em;
  }
}
@media only screen and (max-width: 1024px) and (orientation: portrait) {
  .col-3-medium {
    width: 24%;
  }
  main > div {
    height: 18%;
  }
  .congrats {
    font-size: 6em;
  }
  aside > div {
    font-size: 1em;
  }
}
@media only screen and (max-width: 600px) {
  .col-4-small {
    width: 32%;
  }
  main > div {
    height: 15%;
  }
  .congrats {
    font-size: 4em;
  }
  aside > div {
    font-size: 0.75em;
  }
}
